/*SIEMPRE VA ESTO PERO SIEMPRE*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
}

h1{
    font-weight: 300;
    text-align: center;
}
/*PARA HACER LA LINEA AZUL*/
h1::after{
    background: darkblue;
    width: 100%;
    content: '';
    height: 6px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
}
.contenedor-galeria{
    /*ESTE SUCEDE LA MAGIA SIEMPRE PONER AL PADRE*/
    display: flex;
    /*SI REVAZAN EL NUMERO DEL WIDTH SE PONGAN UNO DEBAJO DEL OTRO*/
    flex-wrap:wrap;
    justify-content: space-evenly;
}

img{
    flex-basis: 30%;
    margin:10px 0;
    display: block;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, .7);
    width: 20%;
    height: auto;
    object-fit: cover;
    
}


@media screen and (max-width:800px){
    /*Se mostrara en dos columnas*/
    img {
        flex-basis: 40%;
    }
}

@media screen and (max-width:400px){
    /*Se mostrara en dos columnas*/
    img {
        flex-basis: 90%;
        
        
    }
}